.user-block__image-item {
  width: 63px;
  height: 63px;
}

.film-card__poster--image-item {
  width: 218px;
  height: 327px;
}

.btn--play__icon-item {
  width: 19px;
  height: 19px;
}

.btn--list__icon-item {
  width: 19px;
  height: 20px;
}